<button mat-button>Material Button</button>
<button mat-raised-button>Material Raised Button</button>
<button mat-flat-button>Material Flat Button</button>
<button mat-stroked-button>Material Stroked Button</button>

<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Mini fab</button>
</div>

<div>
  <button color="primary" mat-button>Material Button</button>
  <button color="accent" mat-button>Material Button</button>
  <button color="warn" mat-button>Material Button</button>
  <button color="primary" mat-raised-button>Material Button</button>
  <button color="accent" mat-raised-button>Material Button</button>
  <button color="warn" mat-raised-button>Material Button</button>
</div>

<div>
  <mat-button-toggle checked #toggleButton>Toggle: {{toggleButton.checked}}</mat-button-toggle>
</div>

<div>
  <mat-button-toggle-group multiple #toggleGroup="matButtonToggleGroup" #myToggleGroup>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>

  </mat-button-toggle-group>
</div>

<div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>

<div class="mat-headline">This is a heading for h1</div>
<div class="mat-title">This is a heading for h2</div>
<div class="mat-subheading-2">This is a heading for h3</div>
<div class="mat-subheading-1">This is a heading for h4</div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption text</div>

<div class="mat-typography">
  <h1>This is a heading for h1</h1>
  <h2>This is a heading for h2</h2>
  <h3>This is a heading for h3</h3>
  <h4>This is a heading for h4</h4>
</div>