.top {
    margin-top: 40px;
}

div {
    margin-left: 40px;
}

button {
    margin: 20px;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav, mat-sidenav-content {
    padding: 16px
}

mat-sidenav {
    background-color: lightcoral;
    widows: 200px;
}